.comics__container {
    display: flex;
    flex-wrap: wrap;
}

.comics__item {
    margin: var(--spacing-large);
    background-color: var(--color-light);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.comics__item:hover {
    transform: rotate(-3deg) scale(0.9);
    filter: saturate(150%);
}

.comics__name {
    display: flex;
    margin: auto;
    padding: var(--spacing-small) var(--spacing-medium);
}

.comics__img {
    width: 100%;

}